body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="radio"] {
  visibility: hidden;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-family: "Ubuntu", sans-serif;
}

h3 {
  font-family: "Ubuntu", sans-serif;
}

h4 {
  font-family: "Ubuntu", sans-serif;
}

h5 {
  font-family: "Ubuntu", sans-serif;
}

h6 {
  font-family: "Ubuntu", sans-serif;
}

.scroll {
  max-height: 275px;
  overflow-y: auto;
}

.homePageListElement {
  background-color: #2774ae;
  border-radius: 5px;
  border: 1px solid;
  color: #ffd100;
  width: 275px;
  /* padding-top: 3px;
  padding-bottom: 3px; */
}

.homePageListElement:hover {
  background-color: #005bc4;
}

.searchResults {
  background-color: white;
}

.searchResults:hover {
  cursor: pointer;
  background-color: #add2fd;
}

.placardFilters {
  padding-bottom: 10px;
}