body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="radio"]{
  visibility:hidden;
}


.averageRatings {
  border-right: 3px solid;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
}

h5 {
  font-family: 'Ubuntu', sans-serif;
}

h6 {
  font-family: 'Ubuntu', sans-serif;
}

.checkItOutLink {
  color: #003B5C;
  background-color: white;
}


.a {
  background-image: linear-gradient(0deg, rgb(65, 182, 236) 39%, rgb(202, 246, 255) 100%);
}

.scroll {
  max-height: 275px;
  overflow-y: auto;
}