body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]{
  visibility:hidden;
}


.averageRatings {
  border-right: 3px solid;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
}